/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: linear-gradient(to right, rgb(255, 213, 192), rgb(94, 169, 255));
  box-sizing: border-box;
}

.fas.fa-sun {
  margin: 5% auto;
  -webkit-animation: rotation 15s infinite;
  font-size: 15em;
  text-align: center;
  display: block;
  color: #ffcd28;
  text-shadow: 5px 5px #444;
}

p {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  color: #ffe9a0;
  text-shadow: 2px 2px #444;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
